@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">matt.washington3@yahoo.com</a><br />
    <strong>LinkedIn:</strong> <a>https://www.linkedin.com/in/matt-washington-9712a3181/</a><br />
    <strong>GitHub:</strong> <a>https://github.com/mattwash3</a><br />
    @*<strong>Support:</strong> <a href="mailto:Support@example.com">matt.washington3@yahoo.com</a><br />*@
</address>
